@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap");

:root {
  --header-font: "Inconsolata", monospace;
  --error-font: "Space Mono", monospace;
  --primary-color: #333333;
  --secondary-color: #4f4f4f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--error-font);
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin-top: 0;
}

.container {
  width: 90%;
  max-width: 1288px;
  margin: 0 auto;
}

.nav-brand {
  padding: 0.75em 0;
}
.nav-brand__link {
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5625rem;
  letter-spacing: -0.08em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-color);
}

.error {
  padding: 1.5em 0;
  /* max-width: 600px; */
}

.error .col + .col {
  margin-top: 2em;
}

.error__message--title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.4375rem;
  letter-spacing: -0.035em;
}

.error__message--description {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  letter-spacing: -0.035em;
  color: var(--secondary-color);
}

.error__message--goback {
  /* Button appearance */
  background-color: var(--primary-color);
  margin-top: 3.2em;
  display: inline-block;
  padding: 1.7em 3.1em;
  /* font-styling */
  color: #fff;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 1049px) {
  .error,
  .nav-brand {
    max-width: 540px;
  }
}

@media (min-width: 1050px) {
  .row {
    display: flex;
    flex-direction: row;
  }
  .error .col {
    flex-grow: 1;
  }
  .error .col + .col {
    margin-left: 3em;
  }

  .error__image img {
    margin-top: 2em;
    max-width: 33.75rem;
  }
  .error__message--title {
    font-size: 4rem;
    line-height: 5.9375rem;
    max-width: 28rem;
  }

  .error__message--description {
    font-size: 1.5rem;
    line-height: 2.25rem;
    max-width: 24rem;
  }
}
